/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global CSS */

/* Navbar */
.navBar {
    height: 100px;
    background-color: #121111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 10px 5px;
}

.logo {
    margin-left: -40px;
}

.logo .logoName {
    font-size: 32px;
}

.menu {
    margin-left: -150px;
}

.menu .menuList {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.menu .menuList .itemMenu {
    font-size: 24px;
}

.socialMedias .socialMediasList {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.socialMedias .socialMediasList .itemSocialMedia {
    font-size: 24px;
}